body {
    background-color: #ecf0f1;
}

* {
    font-family: 'Open Sans', sans-serif;;
    font-size: 16px;
    background-color: transparent;
    font-weight:600;
}

button {
    padding: 8px;
    margin: auto;
    border: none;
    outline: none;
    margin: 8px;
}

button:hover {
    background-color: #2980b9;
}

#calculator {
    margin : auto;
    width: 250px;
    height: 310px;
    background-color: #3498db;
    border-radius: 5%;
    padding: 20px;
}

input {
    width: 90%;
    grid-area: res;
    text-align: right;
    border:none;
    padding: 10px;
}

#plate {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}